# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Eclipse
.metadata
bin/
tmp/
.settings/
.loadpath
.externalToolBuilders/
*.launch
.factorypath
.project
.classpath

# VS Code
.vscode

# General files to ignore
.log
.lock